
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

.hero-header {
  position: relative;
  height: 100vh; 
  overflow: hidden;
}


 
.hero-header {
    width: 100%;
    height: 80vh;
    background: url("close-up.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: 50% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    animation: scroll-bg 30s linear infinite;
    pointer-events: auto;
}
.hero-header button,
.hero-header a {
    pointer-events: auto;
}
@keyframes scroll-bg {
    0% { background-position: 0 0;}
    100% { background-position: -200px 0;}
}

.hero-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    z-index: 2;
    pointer-events: none;
}

.hero-header * {
    z-index: 2;
}

.hero-header h1 {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.gallery {
    column-count: 3;              
    column-gap: 15px;
    padding: 20px;
}

.gallery-item {
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 8px;
}

.gallery-item img {
    width: 100%;
    display: block;
    transition: 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}


@media(max-width: 900px) {
    .gallery { column-count: 2; }
}
@media(max-width: 600px) {
    .gallery { column-count: 1; }
}

.lightbox {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

#closeBtn {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.hidden {
    display: none;
}

.view-gallery-btn {
    margin-top: 25px;
    padding: 12px 28px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s;
}

.view-gallery-btn:hover {
    background: #fff;
    color: #000;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 25px;

    
    left: 50%;
    transform: translateX(-50%);

    padding: 12px 18px;
    background: black;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease;
    opacity: 0;
    z-index: 9999;
}

#backToTop.show {
    display: block;
    opacity: 1;
}

